<div class="container" style="margin-top: 100px;">
  <div class="row" style="margin-top: 100px">
    <nav aria-label="breadcrumb" class="breadcrumb-container">
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="{{ site.baseurl }}/index.html">Home</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
              About
          </li>
      </ol>
    </nav>
  </div>
  <div class="row" style="margin: -30px;">
    <div class="col text-center">
      <h3>Hellooo! its pleasure to greet you..</h3>
    </div>
  </div>
  <div class="row" style="margin-top:80px;">
    <div class="col">
      <img class="img-about" src="../img/about.jpg" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-page">
        <p>
        My name is Annafi Ikhwanul Azis. I am a Bachelor Degree graduated from
        <a class="underline-link" href="https://www.ub.ac.id/" target="_blank"><b>Brawijaya University</b><i class="fas fa-link text-muted"></i></a> majoring <a class="underline-link" href="https://www.psikologi.ub.ac.id/" target="_blank"><b>Psychology</b><i class="fas fa-link text-muted"></i></a>.
        </p>
        <p>
          Experience areas including
        Graphic Design, UI & UX Design, UX Research and Product Design.
        Currently search for career opportunity.
        </p>
        <p>
          I was active with organization,
        committees and project experiences. I can be stressed if not productive
        because, I am curious about new things. A fast learner, passionate,
        highly motivated, flexible and like to learn many different new things.
        As well, i lie to be criticized by another person to become a better
        individual and learn from mistakes.
        </p>
      </div>
    </div>
  </div>
</div>
