<div class="container text-center" style="margin-top: 100px">
  <div class="row" style="margin-top: 100px">
    <div class="col">
      <h3>Hellooo! its pleasure to greet you..</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
  </div>
  <div class="row" style="margin-top: 100px">
    <div class="col">
      <img class="img-about" src="../img/about.jpg" alt="" />
    </div>
  </div>
  <div class="row" style="margin-top: 100px">
    <div class="col">
      <p class="text-justify">
        My name is Annafi Ikhwanul Azis. I am a Bachelor Degree graduated from
        Brawijaya University majoring Psychology. <br style="margin-bottom: 5px;"> experience areas including
        Graphic Design, UI & UX Design, UX Research and Product Design.
        Currently search for career opportunity. <br style="margin-bottom: 5px;"> I was active with organization,
        committees and project experiences. I can be stressed if not productive
        because, I am curious about new things. A fast learner, passionate,
        highly motivated, flexible and like to learn many different new things.
        As well, i lie to be criticized by another person to become a better
        individual and learn from mistakes.
      </p>
    </div>
  </div>
</div>
