<footer class="container margin-50px">
    <hr>
    <div class="row text-muted">
        <div class="col text-left">
            <i class="far fa-copyright"></i>
            2021 - Inspired from <a class="underline-link" href="https://www.rifatnajmi.com/">Rifat Najmi<i class="fas fa-link"></i></a>
        </div>
        <div class="col text-right">
            <a href="https://www.linkedin.com/nafi" target="_blank">
                <i class="fab fa-linkedin fa-2x text-muted" style="margin-right: 15px;"></i>
            </a>
            <a href="https://instagram.com/nafi.i.a" target="_blank">
                <i class="fab fa-instagram-square fa-2x text-muted" style="margin-right: 15px;"></i>
            </a>
        </div>
    </div>
</footer>