<div class="container">
    <div class="jumbotron">
        <div class="text-center">
            <h4 style="color: var(--teal);">Hello!, I am <b>Nafi</b><br>
                <span class="txt-rotate text-muted" data-period="2000" data-rotate='[ "Graphic", "UI & UX", "Interaction" ]'></span>
                Designer Passionate</h4>
            <a href="{{ site.baseurl }}/pages/about.html">
                <button type="button" class="btn card-glass btn-lg">
                    <i class="fas fa-user"></i>
                About Me <strong>></strong></button>
            </a>
        </div>
    </div>
</div>