<div class="container">
    <div class="jumbotron">
        <div class="text-center">
            <h2>Hello!, I am <b>Nafi</b><br>
                <span class="txt-rotate" data-period="2000" data-rotate='[ "Graphic", "UI & UX", "Interaction" ]'></span>
                Designer Passionate</h2>
        </div>
        <div class="text-center" style="margin-top: 45px;">
            <div class="row">
                <div class="col-12">
                    <a href="{{ site.baseurl }}/pages/about.html">
                        <button type="button" class="btn btn-lg">
                            <i class="fas fa-user"></i>
                        About Me </button>
                    </a>
                </div>
                <div class="col-12">
                    <div style="margin-top: 45px;"></div>
                    <a class="underline-link" href="https://drive.google.com/file/d/1TlXYJW4Wavguf2YndNTYObul0jKwRbo8/view?usp=sharing" target="_blank">
                        <i class="fas fa-external-link-alt"></i>
                        Résumé
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
