<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card-glass hover-zoom">
                <a href="{{ site.baseurl }}/../../pages/portfolio/lilo-2.html">
                    <img src="{{ site.baseurl }}/../../img/portfolio/lilo-2.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Lilo Project 2</h5>
                  <p class="card-text text-center">Freelance</p>
                </a>              
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card-glass hover-zoom">
                <a href="{{ site.baseurl }}/../../pages/portfolio/lilo.html">
                    <img src="{{ site.baseurl }}/../../img/portfolio/lilo.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Lilo Project</h5>
                  <p class="card-text text-center">Freelance</p>
                </a>              
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="card-glass hover-zoom">
                <a href="{{ site.baseurl }}/../../pages/portfolio/satupersen.html">
                    <img src="{{ site.baseurl }}/../../img/portfolio/satupersen.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Satu Persen</h5>
                  <p class="card-text text-center">Work Experience</p>
                </a>              
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card-glass hover-zoom">
                <a href="{{ site.baseurl }}/../../pages/portfolio/djalandjalan.html">
                    <img src="{{ site.baseurl }}/../../img/portfolio/djalandjalan.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Djalandjalan</h5>
                  <p class="card-text text-center">Team Project</p>
                </a>              
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="card-glass hover-zoom">
                <a href="{{ site.baseurl }}/../../pages/portfolio/client.html">
                    <img src="{{ site.baseurl }}/../../img/portfolio/client.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Working with client</h5>
                  <p class="card-text text-center">Freelance</p>
                </a>              
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-glass hover-zoom">
                <a href="{{ site.baseurl }}/../../pages/portfolio/uni.html">
                    <img src="{{ site.baseurl }}/../../img/portfolio/uni.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">College</h5>
                  <p class="card-text text-center">Personal Project</p>
                </a>             
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Jekyll Link: {% post_url 2017-07-26-client %} -->