<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card-glass">
                <a href="">
                    <img src="../img/Logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Satu Persen</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </a>              
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card-glass">
                <a href="">
                    <img src="../img/Logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Djalandjalan</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </a>              
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="card-glass">
                <a class="" href="">
                    <img src="../img/Logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">College</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </a>              
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card-glass">
                <a href="">
                    <img src="../img/Logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Working with client</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </a>              
                </div>
            </div>
        </div>
    </div>
</div>