---
layout: default
---

<div>
    {% include navbar.html %}
    <div class="row" style="margin-top: 100px">
        <nav aria-label="breadcrumb" class="breadcrumb-container">
          <ol class="breadcrumb">
              <li class="breadcrumb-item">
                  <a href="{{ site.baseurl }}/index.html">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{{ site.baseurl }}/pages/portfolio.html">Portfolio</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">
                {{ posts.title }}
            </li>
          </ol>
        </nav>
    </div>
    <div style="margin-top: -40px;">
        <div class="container">
            <!-- Banner -->
            <div class="row">
              <div class="col">
                <img class="img-page" src="{{ site.baseurl }}/../../img/portfolio/djalandjalan/logo.png"/>
              </div>
            </div>
            <!-- Desc -->
            <div class="row justify-content-center align-self-center page-desc">
              <div class="col-md-7" style="padding-left: 40px;">
                <div class="row">
                  <div class="col-12 col-md-4 align-self-center desc-about">
                    About <i class="fas fa-question"></i>
                  </div>
                  <div class="col-12 col-md-8">
                    <h4>
                      Travelling startup that connect people to travel together
                    </h4>
                  </div>
                </div>
              </div>
              <div class="col-md-5 align-self-center">
                <div class="row">
                  <div class="col-3 col-md-2" style="text-align: end !important; opacity: .6; color: var(--teal);">
                    Role <br>
                    Project <br>
                    Date <br>
                    Tools <br>
                  </div>
                  <div class="col-1 col-md-1 text-center" style="opacity: .6; color: var(--teal);">
                    <i class="fas fa-hands-helping"></i> <br>
                    <i class="fas fa-tasks"></i><br>
                    <i class="fas fa-calendar"></i> <br>
                    <i class="fas fa-wrench"></i> <br>
                  </div>
                  <div class="col-8 col-md-9">
                    <b>Designer & Researcher <br>
                      Team Project <br>
                      Aug '19 - Aug '20 <br>
                      Illustrator, Photoshop, Figma, Paper, Interview, Testing <br></b>
                  </div>
                </div>
              </div>
            </div>
            <!-- Content Start -->
            <div class="row">
                <div class="col">
                <!-- CONTENT -->
                    <!-- <h3 style="color: var(--teal); font-weight:bolder;">
                        Scope Of Work <i class="fas fa-arrow-right"></i>
                    </h3>
                    <div class="text-page">
                      <p>
                      This is a project I worked on with a team of 5 people (HR, Marketing, Business Development, Designer & Researcher, Front-End, Back-End).
                      So my role here is as a Designer and Researcher
                      </p>
                      
                      <p>
                        I did various research with the aim of validating ideas and determining wireframes including:
                      <img>
                      <img>
                      <img>
                      </p>
                      
                      <p>
                      And generate user flows and wireframes :
                      <img>
                      </p>
                      
                      <p>
                      Then we did a design review internally and externally
                      <img>
                      </p>
                      
                      <p>
                      Riview kembali dengan testing responden dan hasil akhir adalah:
                      <link>
                      </p>

                      
                      <p>
                      Overview <br>
                      The Process <br>
                      Who is this web made for ? <br>
                      Solution <br>
                      Component <br>
                      Finalized <br>
                      Iteration <br>
                      Feedback <br>
                      </p>
                    </div> -->

                    <h3 style="color: var(--teal); font-weight:bolder;">
                      Overview <i class="fas fa-arrow-right"></i>
                    </h3>
                    <div class="text-page">
                      <!-- <p>                  
                      Ini adalah project yang saya lakukan bersama dengan 4 rekan lain, komposisinya adalah Human Resource & Finance, Marketing, Business Development, Designer dan Researcher, Front-End, Back-End. Serta role saya disini adalah Designer dan Researcher. <br>
                      </p>
                      <p>
                        Ide awal paling dasar adalah kami ingin membuat sebuah medium travelling untuk Indonesia. <br>
                      </p>
                      <p>
                        Setelah mencari-cari, kami mendapatkan hipotesis yang muncul dari salah satu rekan yang mendapat keluhan dari temannya yang menyukai travelling. Ia menyatakan ketika bertravelling sangat susah untuk mencocokkan jadwal dengan temannya sehingga ia memerlukan orang lain untuk bertravelling bersama. Namun ketika mencarinya di Internet, dia tidak menemukan secara spesifik medium yang ia butuhkan. <br>
                      </p>
                      <p>                      
                      Ide tersebut lalu kami jadikan hipotesis "apakah medium travelling yang mempertemukan sesama orang lain dibutuhkan di Indonesia ?" <br>
                      </p> -->
                      <p>
                        This is a project that I did together with 4 other colleagues, the composition is Human Resource & Finance, Marketing, Business Development, Designer and Researcher, Front-End, Back-End. And my role here is Designer and Researcher. <br>
                        </p>
                        <p>
                          The most basic initial idea is that we want to create a traveling medium for Indonesia. <br>
                        </p>
                        <p>
                          After looking around, we got a hypothesis that emerged from a colleague who got a complaint from a friend who likes traveling. He stated that when traveling, it is very difficult to match schedules with his friends so he needs other people to travel together. However, when searching the Internet, he did not find the specific medium he needed. <br>
                        </p>
                        <p>
                        We then made the idea into a hypothesis <b>"is a traveling medium that brings together other people needed in Indonesia?"</b> <br>
                        </p>
                    </div>                      

                    <h3 style="color: var(--teal); font-weight:bolder;">
                        The Process <i class="fas fa-arrow-right"></i>
                    </h3>
                    <div class="text-page">
                      <!-- <p>
                      - Hipotesis Research <br>
                      Demi menentukan kelayakan hipotesis tersebut, kami melakukan penarikan data metode kuantitatif dengan responden yang dipilih secara purposive sampling dengan kriteria individu yang bertravelling 3 sampai 6 bulan sekali. Tujuan dari penarikan data ini untuk mengetahui apakah hipotesis yang diujikan valid atau ditolak dan sekaligus mengetahui hal lain yang dipertimbangkan oleh pasar. Dan hasilnya adalah Hipotesis Valid. <br>
                      </p>
                      <p>
                      - User Flow dan Wireframe <br>
                      Setelah hipotesis terbukti valid saya melanjutkan untuk pembuatan user flow, dan wireframe. Serta selanjutnya saya juga merumuskan fitur-fitur apa saja yang akan ditampilkan menurut masukan dari teman saya bagian marketing dan business development. <br>
                      </p> -->
                      <h3 style="margin-top: -10px;">
                        1. Research Hypothesis
                      </h3>
                      <p>
                        In order to determine the feasibility of this hypothesis, we conducted quantitative data collection methods with respondents selected by purposive sampling with the criteria of individuals who travel every 3 to 6 months. The purpose of this data collection is to determine whether the hypothesis being tested is valid or rejected and at the same time find out other things considered by the market. And the result is a Valid Hypothesis. <br>
                      </p>
                      <p>
                        And we got 106 respondents for hypothesis validation. Here are some of the core questions of quantitative validation that lead us into the user flow and wireframe processes <br>
                      </p>
                      <img src="{{ site.baseurl }}../../../../img/portfolio/djalandjalan/question.jpg" alt="" width="100%" height="100%">
                      <h3>
                       2. User Flow and Wireframe
                      </h3>
                      <p>
                        After the hypothesis was proven valid, I proceeded to create a user flow and wireframe. And then I also formulated what features will be displayed according to input from my friends in marketing and business development. <br>
                      </p>
                      <h4>
                        User Flow
                      </h4>
                      <p>
                        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="500" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FUsEXjrAiNOAXIx9i91cTKW%2FDjalandjalan%3Fnode-id%3D0%253A1" allowfullscreen></iframe>
                      </p>
                      <h4>
                        Wireframe
                      </h4>
                      <p>
                        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="500" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FUsEXjrAiNOAXIx9i91cTKW%2FDjalandjalan%3Fnode-id%3D7%253A345" allowfullscreen></iframe>
                      </p>
                      <p>
                        <!-- - Feature, Flow Research and Testing <br>
                        Kami menemukan dan memutuskan bahwa akan melakukan kuantitatif, kualitatif dan user test pada proses ini. Untuk mengetahui error dan misskonsepsi yang mungkin timbul pada flow dan fitur djalandjalan. <br> -->
                        - Feature, Flow Research and Testing <br>
                        We found out and decided that we would do quantitative, qualitative and user tests on this process. This is to determine errors and misconceptions that may arise in road flows and features. <br>
                      </p>
                      <h3>
                        Prototype
                      </h3>
                      <p>
                        Then a prototype was made from the djalandjalan website
                      </p>
                       <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="500" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FUsEXjrAiNOAXIx9i91cTKW%2FDjalandjalan%3Fnode-id%3D222%253A387" allowfullscreen></iframe>
                      <h3>
                        Prototype Research & Testing
                      </h3>
                      <p>
                        Then I researched the prototype to assess and evaluate the appropriateness, convenience, smoothness, comfort felt by the user. So in the process this is not the first prototype that is made, but this is the final prototype.
                      </p>
                    </div>
                    <h3 style="color: var(--teal); font-weight:bolder;">
                      Final <i class="fas fa-arrow-right"></i>
                    </h3>
                    <div class="text-page">
                      <p>
                        <!-- - Ketika hasil timbul maka kami memulai development dan berikut adalah hasil akhir. <br> -->
                        - When results arise we start development and here are the final results. <br>
                      </p>
                      <p>
                        <img src="{{ site.baseurl }}/../../../img/portfolio/djalandjalan/gif.gif" style="border: 1px solid rgba(0, 0, 0, 0.1);" alt="GIF Final" width="100%" height="100%"/>
                      </p>
                      <p>
                      <!-- --- Djalandjalan sempat mengikuti dua lomba dari <a>dslaunchpad</a> dan <a>itb incubator</a> namun tidak mendapat peringkat dari dua lomba tersebut. <br>
                      --- Sehingga pada agustus 2020 kami memutuskan untuk berhenti. <br> -->
                      --- Djalandjalan had participated in two competitions from <a> dslaunchpad </a> and <a> itb incubator </a> but did not get a ranking from the two competitions. <br>
                      --- So in August 2020 we decided to stop. <br>
                      </p>
                    </div>                    
                <!--  -->
                </div>
            </div>
        </div>
    </div>
    {% include scripts.html %}
    {% include footer.html %}
</div>
