---
layout: default
---
<div>
        {% include navbar.html %}
        <div class="row" style="margin-top: 100px">
            <nav aria-label="breadcrumb" class="breadcrumb-container">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                      <a href="{{ site.baseurl }}/index.html">Home</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="{{ site.baseurl }}/pages/portfolio.html">Portfolio</a>
                  </li>
                  <li class="breadcrumb-item" aria-current="page">
                    {{ posts.title }}
                </li>
              </ol>
            </nav>
        </div>
        <div style="margin-top: -40px;">
            <div class="container">
                <div class="row">
                  <div class="col">
                    <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/logo.png" class="img-page">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="row" style="padding: 0 15px !important;">
                      About Satu Persen:
                    </div>
                    <div class="row" style="padding: 0 15px !important;">
                      <h4>
                        Educational startups that teach important knowledge and skills in life that are not yet in school and the wider community
                      </h4>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row" style="font-size: 1rem;">
                      <div class="col-3" style="text-align: end !important;">
                        Role <br>
                        Project <br>
                        Date <br>
                        Tools <br>
                      </div>
                      <div class="col-1 text-center">
                        <i class="fas fa-hands-helping"></i> <br>
                        <i class="fas fa-tasks"></i><br>
                        <i class="fas fa-calendar"></i> <br>
                        <i class="fas fa-wrench"></i> <br>
                      </div>
                      <div class="col-8">
                        <b>Graphic Designer <br>
                        Internship <br>
                        Nov '20 - Jan '21 <br>
                        Illustrator, Photoshop <br></b>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- CONTENT -->
                        <h3>
                          Scope Of Work
                        </h3>
                        <div class="row text-page">
                            <p>The jobs I usually do in the <a class="underline-link" href="https://www.satupersen.net/" target="_blank"><b>Satu Persen</b><i class="fas fa-link text-muted"></i></a> include illustration and graphic design.</p>

                            <p>Broadly speaking, there are 2 things
                            namely on Instagram post and story, linkedin post, Facebook post, YouTube post. and design and illustration on Satu Persen of the YouTube podcast & spotify anchor</p>
                            
                            <h6>
                              Here is the link list:
                              <a href=""></a>
                              <a href=""></a>
                              <a href=""></a>
                            </h6>
                            
                        </div>

                        <div class="row">
                            <div class="col-lg">
                                <h4>
                                    Spotify Anchor
                                </h4>
                                <div id="satupersen-spotify-anchor" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                      <li data-target="#satupersen-spotify-anchor" data-slide-to="0" class="active"></li>
                                      <li data-target="#satupersen-spotify-anchor" data-slide-to="1"></li>
                                      <li data-target="#satupersen-spotify-anchor" data-slide-to="2"></li>
                                      <li data-target="#satupersen-spotify-anchor" data-slide-to="3"></li>
                                      <li data-target="#satupersen-spotify-anchor" data-slide-to="4"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/anchor.png" class="d-block w-100" alt="first">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/anchor-2.png" class="d-block w-100" alt="second">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/anchor-3.png" class="d-block w-100" alt="third">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/anchor-4.png" class="d-block w-100" alt="third">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/anchor-5.png" class="d-block w-100" alt="third">
                                      </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#satupersen-spotify-anchor" role="button" data-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#satupersen-spotify-anchor" role="button" data-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg">
                                <h4>
                                    Youtube Thumbnail
                                </h4>
                                <div id="satupersen-yt-thumbnail" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                      <li data-target="#satupersen-yt-thumbnail" data-slide-to="0" class="active"></li>
                                      <li data-target="#satupersen-yt-thumbnail" data-slide-to="1"></li>
                                      <li data-target="#satupersen-yt-thumbnail" data-slide-to="2"></li>
                                      <li data-target="#satupersen-yt-thumbnail" data-slide-to="3"></li>
                                      <li data-target="#satupersen-yt-thumbnail" data-slide-to="4"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/yt_thumbnail.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/yt_thumbnail-2.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/yt_thumbnail-3.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/yt_thumbnail-4.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/yt_thumbnail-5.png" class="d-block w-100" alt="...">
                                      </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#satupersen-yt-thumbnail" role="button" data-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#satupersen-yt-thumbnail" role="button" data-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                <h4>
                                    Post
                                </h4>
                                <div id="satupersen-post" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                      <li data-target="#satupersen-post" data-slide-to="0" class="active"></li>
                                      <li data-target="#satupersen-post" data-slide-to="1"></li>
                                      <li data-target="#satupersen-post" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/feed.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/feed-2.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/feed-3.png" class="d-block w-100" alt="...">
                                      </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#satupersen-post" role="button" data-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#satupersen-post" role="button" data-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg">
                                <h4>
                                    Instagram Story
                                </h4>
                                <div id="satupersen-story" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                      <li data-target="#satupersen-story" data-slide-to="0" class="active"></li>
                                      <li data-target="#satupersen-story" data-slide-to="1"></li>
                                      <li data-target="#satupersen-story" data-slide-to="2"></li>
                                      <li data-target="#satupersen-story" data-slide-to="3"></li>
                                      <li data-target="#satupersen-story" data-slide-to="4"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/story.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/story-2.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/story-3.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/story-4.png" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="{{ site.baseurl }}/../../img/portfolio/satupersen/story-5.png" class="d-block w-100" alt="...">
                                      </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#satupersen-story" role="button" data-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#satupersen-story" role="button" data-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>                      
                        <!--  -->
                    </div>
                </div>
            </div>
        </div>
        {% include scripts.html %}
        {% include footer.html %}
</div>