---
layout: default
---
  
    {% include navbar_contact.html %}
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-12 text-center">
            <h3>You can contact me at ..... </h3>
        </div>
        <div class="col-12 text-center">
            <i class="fas fa-envelope"></i> Email: <a class="underline-link" href="mailto: annafi_@outlook.com" target="_blank">annafi_@outlook.com</a><br>
            <i class="fas fa-phone"></i> Phone: <a class="underline-link" href="tel: +62895413345484">+62 895 xxxx xx484</a><br>
            <i class="fab fa-linkedin-in"></i> Linkedin: <a class="underline-link" href="https://www.linkedin.com/in/nafi" target="_blank">linkedin.com/in/nafi</a>
        </div>
    </div>
</div>
    {% include scripts.html %}
    {% include footer.html %}